.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button {
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding: 2px 5px 2px 5px;
  background-color: black;
  color: white;
  width: 345px;
  height: 35px;
}

.line-through {
  text-decoration: line-through;
}

.checbox {
  display: flex;
  align-items: center;
}

.checbox .icon {
  margin-right: 5px;
  font-size: 15px;
}

.task div span {
  margin: 0px 5px 0px 4px
}

.task div .icon {
  cursor: pointer;
}

.delete {
  cursor: pointer;
}